<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="../../public/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="logo_login">
				<img src="../../public/images/logo_gsb_2.png" alt="Logo GSB">
			</div>
			<form action="#" class="login-form">
				<h1>Connexion</h1>
				<div class="text_login" name="" id="">
					<input type="text">
					<div class="placeholder">E-mail</div>
				</div>

				<div class="text_login">
					<input type="password" name="" id="">
					<div class="placeholder">Mot de passe</div>
					<div class="show-password fas fa-eye-slash"></div>
				</div>

				<div class="checkbox">
					<input type="checkbox" name="" id="">
					<div class="fas fa-check"></div>
					Se souvenir de moi
				</div>

				<div class="btn-container">
					<button class="btn">Connexion</button>
				</div>

				<a href="">Vous avez oublié votre mot de passe ?</a>
			</form>
		</div>
	</body>
</html>
