{% extends "base.html.twig" %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}

    <h1 class="text-center mt-5">Mes comptes-rendus</h1>
    <table class="content-table">
        <thead>
            <tr class="bg-dark">                   
                <th>Date visite</th></div>
                <th>Praticien</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Date d'embauche</th>
            </tr>
        </thead>
        <tbody>
            {% for compte_rendu in liste_compte_rendu %}
                <tr>
                    {{ dump(compte_rendu) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}  